@model TransportePublico1.Models.TransporteResult
@{
    ViewBag.Title = "TransportePublico";
}

<h2>Listado de Unidades de Transporte Público</h2>
@{ 
    if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de Transporte</th>
                    <th>Numero de Pasajeros</th>
                    <th>Numero de Unidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaTransportes)
                {
                    <tr>
                        <td>@item.TipoTransporte</td>
                        <td>@item.CantidadPasajeros</td>
                        <td>@item.NumeroUnidad</td>
                    </tr>

                }

            </tbody>
        </table>

    }
}

