<div class="row">
    <h2>Formulario de Ingreso</h2>
    <div class="col-md-5 form-horizontal">
        <form action="/TransportePublico/TransportePublicoAgregar" method="post">
            <br />
            <input type="text" class="form-control" name="cantidadPasajeros" placeholder="Cantidad de Pasajeros" required autofocus>
            <br />
            <label>
                <label>Taxi</label>
                <input type="radio" name="tipoTransporte" value="Taxi">
                <label>Omnibus</label>
                <input type="radio" name="tipoTransporte" value="Omnibus">
            </label>
            <button class="btn btn-primary" type="submit">
                Agregar
            </button>

        </form>
    </div>
</div>


