@model LabDemoEF.Entities.Customers

@{
    ViewBag.Title = "ReadClientes";
}

<h2>ReadClientes</h2>
<table>
    <thead>
        <tr>
            <td>cliente</td>
            <td>direccion</td>
            <td>tlf</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ContactName</td>
            <td>@Model.Address</td>
            <td>@Model.Phone</td>
        </tr>
    </tbody>
</table>

